<h1>Edit location <%= @location["location_title"] %></h1>

<%= form_for :locations, url: locations_update_path, method: "patch" do |f| %>
	<div>
	<%= f.label :location_title, "Location Name", class: "loc-form-label" %>
		<%= f.text_field :location_title, class: "loc-form-field" %>
	</div>
	<div>
		<%= f.label :lattitude, class: "loc-form-label" %>
		<%= f.text_field :lattitude, class: "loc-form-field" %>
	</div>

	<div>
		<%= f.label "Northern or Southern Hemipshere?", class: "loc-form-label"%>
		<%= f.text_field :hemi_n_s, class: "loc-form-field" %>
	</div>

	<div>
		<%= f.label :longitude, class: "loc-form-label" %>
		<%= f.text_field :longitude, class: "loc-form-field" %>
	</div>

	<div>
		<%= f.label "Eastern or Western Hemisphere?", class: "loc-form-label" %>
		<%= f.text_field :hemi_e_w, class: "loc-form-field" %>
	</div>

	<%= f.submit %>
<% end %>