<h1>Register your business location</h1>

<% if @errors %>
	<ul>
		<% @errors.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for :locations, url: locations_create_path do |f| %>
	<div>
	<%= f.label :location_title, "Location Name" %>
		<%= f.text_field :location_title %>
	</div>
	<div>
		<%= f.label :lattitude %>
		<%= f.text_field :lattitude %>
	</div>

	<div>
		<%= f.label "Northern or Southern Hemipshere?" %>
		<%= f.text_field :hemi_n_s %>
	</div>

	<div>
		<%= f.label :longitude %>
		<%= f.text_field :longitude %>
	</div>

	<div>
		<%= f.label "Eastern or Western Hemisphere?" %>
		<%= f.text_field :hemi_e_w %>
	</div>

	<%= f.submit %>
<% end %>

<%= link_to "Home Page", root_path %>